.color-palette {
    display: none !important;
}

.color-picker-trigger:hover .color-palette {
    display: flex !important;
}

.task-card:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6), 0 15px 30px rgba(0, 0, 0, 0.3);
    /* Blue ring + shadow */
    z-index: 100 !important;
    /* Bring to front when focused */
}